<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.remotedesktopcontrol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RemoteDesktopControl">
        <activity android:name=".application.Launcher"></activity>
        <activity
            android:name=".application.Accueil"
            android:label="@string/title_activity_accueil"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RemoteDesktopControl.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".application.Remote"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>